{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-5" data-aos="fade-up" data-aos-duration="1000">
    <div class="row justify-content-center">
        <h1 class="text-center mb-4" style="color: #FFD700; font-size: 2.5rem; font-weight: bold; letter-spacing: 2px;">
            Our Services
        </h1>
        <p class="text-center mb-4">{{ additional_info }}</p>
        <!-- Booking Form -->
    <div class="row justify-content-center mt-5" id="booking-form">

        <div class="col-lg-8">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4 booking-form-title">Book Your Service Now</h2>
                    <form method="POST" action="{% url 'book_event' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="occasion" class="form-label">Occasion</label>
                            <input type="text" class="form-control" id="occasion" name="occasion" required>
                        </div>
                        <div class="mb-3">
                            <label for="customerName" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="customerName" name="customer_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="customerEmail" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="customerEmail" name="customer_email" required>
                        </div>
                        <div class="mb-3">
                            <label for="customerPhone" class="form-label">Phone Number</label>
                            <input type="tel" class="form-control" id="customerPhone" name="customer_phone" required>
                        </div>
                        <div class="mb-3">
                            <label for="cityCountry" class="form-label">City/Country</label>
                            <input type="text" class="form-control" id="cityCountry" name="city_country" required>
                        </div>
                        <div class="mb-3">
                            <label for="serviceDate" class="form-label">Date</label>
                            <input type="date" class="form-control" id="serviceDate" name="service_date" required>
                        </div>
                        <div class="mb-3">
                            <label for="serviceTime" class="form-label">Time</label>
                            <input type="time" class="form-control" id="serviceTime" name="service_time" required>
                        </div>
                        <!--<div class="mb-3">
                            <label for="serviceType" class="form-label">Service Type</label>
                            <select class="form-select" id="serviceType" name="service" required>
                                <option selected disabled>Choose...</option>
                                <option value="Bronze">Bronze Plan</option>
                                <option value="Silver">Silver Plan</option>
                                <option value="Gold">Gold Plan</option>
                                <option value="Help">Help me choose</option>
                            </select>
                        </div>-->

                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-warning">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
